<h1 class="center_text">Tent Pricing</h1>
<table class="tentsTable">
  <tr>
    <th>Dimensions</th>
    <th>Name</th>
    <th>Tent Price</th>
    <th>Square Feet</th>
    <th>Round 60" Tables</th>
    <th>People</th>
    <th>Banquet 8' Tables</th>
    <th>People</th>
    <th>Total Price</th>
    <th>Standing People</th>
  </tr>
  <% @tents.each do |tent|%>
   <tr>
    <td><%= tent.dimensions %></td>
    <td><%= tent.tent_type%></td>
    <td><%= tent.tent_price%></td>
    <td><%= unless tent.size.nil? then tent.size else "N/A" end%></td>
    <td><%= unless tent.round_5_tables.nil? then tent.round_5_tables else "N/A" end%></td>
    <td><%= unless tent.round_5_people.nil? then tent.round_5_people else "N/A" end%></td>
    <td><%= unless tent.banquet_8_tables.nil? then tent.banquet_8_tables else "N/A" end%></td>
    <td><%= unless tent.banquet_8_people.nil? then tent.banquet_8_people else "N/A" end%></td>
    <td><%= unless tent.final_price.nil? then tent.final_price else "N/A" end%></td>
    <td><%unless tent.low_max_standing.nil? || tent.high_max_standing.nil?%>
          <%= tent.low_max_standing %> - <%= tent.high_max_standing%></td>
        <%else%>
          N/A
        <% end %>
   </tr>
  <%end%>
</table>