<div class='tent_main'>
  <div id="tabs" style='border:groove'>
    <ul style="background-color: #FF8C00">
      <li><%=link_to"Home","#tabs-1"%></li>
      <li><%=link_to"Tent Pricing","#tabs-2"%></li>
      <li><%=link_to"Accessories","#tabs-3"%></li>
      <li><%=link_to "Tent Gallery","#tabs-4"%></li>
      <li><%=link_to "Contact Us","#tabs-5"%></li>
    </ul>
    <div id="tabs-1"><%= render 'about_us'%></div>
    <div id="tabs-2"><%= render 'tent_partial'%></div>
    <div id="tabs-3"><%= render 'accessories_partial' %></div>
    <div id="tabs-4"><%= render 'tent_picture'%></div>
    <div id="tabs-5"><%= render 'contact_us'%></div>
  </div>
</div>
